.todos-block{
  flex: 1 1 45%;
  border-radius: 5px;
}
.new {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #005fc4 ;
  margin-bottom: 20px;
}
.title-todos{
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #005fc4 ;
}
.subtitle{
  font-size: 18px;
  text-align: center;
  padding: 20px 0px;
}

.todos-urgently{
  margin-bottom: 10px;
}

.todos-less-urgently{
  margin-bottom: 10px;
}

.todos-urgently, .todos-less-urgently, .todos-not-urgently{
  border-radius: 4px;
  width: 100%;
}

.tasks{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.count{
  color:#005fc4;
  font-size: 20px;
}

@media(max-width:450px){
  .count{
    font-size: 16px;
  }
  .new .MuiButton-root{
    width: 100%;
  }
}