.task{
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  &:not(:last-child){
    margin-bottom: 10px;
  }
}
.task-number{
  color: #034489;
  width: 60px;
  height: 56px;
  box-sizing: border-box;
  border: 1px solid #307bcb;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-checkbox-root .MuiSvgIcon-root{
  font-size: 30px;
}
