.task{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  // add animation
  animation-name: showingTask;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  &:not(:last-child){
    margin-bottom: 10px;
  }
}
.task-wrapper{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 10px;
  margin-bottom: 10px;
  position: relative;
}
.task-head{
  display: flex;
  gap: 10px;
  width: 100%;
}
.custom-checkbox-root .MuiSvgIcon-root{
  font-size: 30px;
}
.task-desc{
  position: relative;
  width: 100%;
}
.desc-title{
  color: #04274d;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1.5px;
    background-color: #022e7a;;
    transition: all 0.3s ease;
  }
  &:hover::after{
    width: 100%;
  }
}
.icon{
  max-width: 25px;
}

@keyframes showingTask {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}